@charset "utf-8";
/* CSS Document */
body,div,h1,h2,h3,h4,ul,li,a,p,dt,dd,dl,input,img,strong{margin:0; padding:0; list-style:none; border:0 none;}
h1,h2,h3{font-size:100%;}
body{font-family:"宋体"; font-size:12px; color:#666;}
#head{width:100%; background:#f7f7f7;}
#head .head{width:1210px; height:30px; line-height:30px; margin:0 auto;}
#head .head_one{width:605px; float:left;}
#head .head_two{text-align:right;}
#head a{color:#666; text-decoration:none;}
#head a:hover{color:#e4393c; text-decoration:underline;}
         
#nav{width:1180px; height:60px; margin:0 auto; padding:15px 0;overflow:hidden;}	
#nav .nav_left{width:330px; float:left;}
#nav .nav_right{width:750px; float:left;}
#nav .text{width:500px; height:20px; line-height:20px; color:#999; padding:5px; border:3px solid #E4393C; float:left;}
#nav .button{width:78px; background:none repeat scroll 0 0 #E4393C; color:#FFF; font-size:14px; font-weight:700; height:36px; float:left; cursor: pointer;}
#nav .hot{width:750px; color:#999; height:20px; line-height:20px; clear:left;}
#nav .hot a{color:#999; text-decoration:none; margin-right:10px;}
#nav .hot a:hover{color:#e4393c; text-decoration:underline;}

#content{width:1210px; margin:30px auto 0; overflow:hidden;}
#content .wode{width:100px; height:30px; line-height:30px; text-align:center; color:#e4393c; font-size:16px; font-weight:bold;}
#content .line{width:1210px; border-bottom:1px solid #e6e6e6; padding-bottom:30px;}
#content .line ul{width:980px; margin:0 auto;}
#content .line li{float:left; height:50px;}
#content .line li.line_one{width:250px; padding-left:30px;}
#content .line li.line_two{width:220px; padding-left:30px;}
#content .line li.line_three{width:150px; text-align:center;}
#content .content{width:980px; margin:20px auto 0; border:1px solid #e8e8e8; border-radius:3px; overflow:hidden;}
#content .content h3{width:950px; height:40px; line-height:40px; background:#f5f5f5; border-bottom:1px solid #e8e8e8; padding-left:30px;}
#content .content ul{width:950px; margin-left:30px;}
#content .content ul li{height:120px; float:left; padding-top:30px;}
#content .content ul li a{color:#551A8B; text-decoration:none;}
#content .content ul li a:hover{color:#e4393c; text-decoration:underline;}
#content .content ul li.cont_one{width:249px; border-right:1px solid #e8e8e8;}
#content .content ul li.cont_one img{width:80px; height:80px; display:inline-block; float:left; margin-right:20px;}
#content .content ul li.cont_one p{width:140px; height:auto; line-height:20px; float:left;}
#content .content ul li.cont_two{width:220px; padding-left:30px; line-height:20px; overflow:hidden;}
#content .content ul li.cont_three{width:149px; border-left:1px solid #e8e8e8; text-align:center; font-size:14px;}
#content .content ul li.cont_three span{color:#e4393c;}

#foot{width:100%; height:50px; line-height:50px; background:#a5a5a5; margin-top:20px;}
#foot p{width:1210px; margin:0 auto; text-align:center;}

#login{width:100%; height:100%; position:absolute; top:0; left:0; display:none;}
#login .beijing{width:100%; height:100%; position:absolute; background:#d9d9d9; top:0; left:0; filter: alpha(opacity=70); opacity:0.7; z-index:19;}
#login .denglu{width:380px; height:400px; background:#fff; top:100px; left:500px; z-index:20; position:absolute;}
#login .denglu h1{width:350px; height:50px; line-height:50px; padding-left:30px; background:#f7f7f7; font-weight:600; font-size:16px;}
#login .denglu h1 a{background:url(../images/guanbi.jpg) no-repeat center center;}
#login .denglu .one{width:320px; height:35px; line-height:35px; border:1px solid #ddd; margin:15px auto 0; display:block; padding:5px; color:#ccc;}
#login .denglu p{width:330px; line-height:35px; margin-left:25px;}
#login .denglu a{color:#e4393c; text-decoration:none; width:70px; height:35px; display:inline-block; text-align:right; float:right;}
#login .denglu a:hover{ text-decoration:underline;}
#login .denglu .two{width:270px; height:40px; text-align:center; line-height:40px; margin:30px auto; display:block; background:#E4393C; color:#fff; font-size:16px;}